<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  
  <xacro:arg name="name" default="craft"/>
  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="use_mock_hardware" default="false"/>
  <xacro:arg name="mock_sensor_commands" default="false"/>
  <xacro:arg name="sim_gazebo_classic" default="false"/>
  <xacro:arg name="sim_gazebo" default="false"/>
  <xacro:arg name="real_hardware" default="false"/>

    <ros2_control name="$(arg name)" type="system">
      <hardware>
        <xacro:if value="$(arg use_mock_hardware)">
          <plugin>mock_components/GenericSystem</plugin>
          <param name="mock_sensor_commands">$(arg mock_sensor_commands)</param>
        </xacro:if>
        <xacro:if value="$(arg sim_gazebo_classic)">
          <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </xacro:if>
        <xacro:if value="$(arg sim_gazebo)">
          <plugin>ign_ros2_control/IgnitionSystem</plugin>
        </xacro:if>
        <xacro:if value="$(arg real_hardware)">
          <plugin>craft_hardware/CraftHardware</plugin>
          <param name="srv_name">servo_joint</param>
          <param name="srv_pin">"18"</param>
          <param name="srv_min_angle">0.0</param>
          <param name="srv_max_angle">180.0</param>
          <param name="srv_min_pulse_width_us">650</param>
          <param name="srv_max_pulse_width_us">2500</param>
        </xacro:if>
      </hardware>
      <joint name="$(arg prefix)servo_joint">
        <command_interface name="position"/>     <!-- Add/Remove interfaces as needed -->
          <!-- TODO try re-enabling -->
          <!-- <param name="min">-1</param>
          <param name="max">1</param> -->
        <!-- </command_interface> -->
        <state_interface name="position">
          <!-- TODO try re-enabling -->
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
      <!-- TODO implement, replace unrealistic position -->
			<!-- TODO swap to actuator maybe?  -->
      <joint name="$(arg prefix)propeller_joint">
        <command_interface name="velocity">     <!-- Add/Remove interfaces as needed -->
          <param name="min">-10</param>
          <param name="max">10</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
      
      <!-- Remove/change sensors as needed -->
      <!-- <sensor name="tcp_fts_sensor">            
        <state_interface name="fx"/>
        <state_interface name="fy"/>
        <state_interface name="fz"/>
        <state_interface name="tx"/>
        <state_interface name="ty"/>
        <state_interface name="tz"/> -->
        <!-- Change sensors as needed -->
        <!-- <param name="frame_id">tool0</param>    
        <param name="min_fx">-100</param>
        <param name="max_fx">100</param>
        <param name="min_fy">-100</param>
        <param name="max_fy">100</param>
        <param name="min_fz">-200</param>
        <param name="max_fz">200</param>
        <param name="min_tx">-10</param>
        <param name="max_tx">10</param>
        <param name="min_ty">-10</param>
        <param name="max_ty">10</param>
        <param name="min_tz">-15</param>
        <param name="max_tz">15</param>
      </sensor> -->
    </ros2_control>

    <xacro:if value="$(arg sim_gazebo_classic)">
      <!-- Gazebo plugins -->
      <gazebo reference="world">
      </gazebo>
      <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
          <parameters>$(find craft_bringup)/config/craft_controllers.yaml</parameters>
        </plugin>
      </gazebo>
    </xacro:if>

    <xacro:if value="$(arg sim_gazebo)">
      <!-- Gazebo plugins -->
      <gazebo reference="world">
      </gazebo>
      <gazebo>
        <plugin filename="libign_ros2_control-system.so" name="ign_ros2_control::IgnitionROS2ControlPlugin">
          <parameters>$(find craft_bringup)/config/craft_controllers.yaml</parameters>
          <controller_manager_node_name>$(arg prefix)controller_manager</controller_manager_node_name>
        </plugin>
      </gazebo>
    </xacro:if>

</robot>
